[Desktop Entry]
Name=MlView
Comment=MlView - XML editor for GNOME
Comment[fr]=MlView - Éditeur XML pour GNOME
Comment[pl]=MlView - edytor XML dla GNOME
Icon=mlview.png
Exec=mlv
Terminal=false
Type=Application
Categories=Application;Utility;TextEditor;
# vi: encoding=utf-8
